@import "../../scss/variable.scss";

.notification-item {
    padding: 10px 0;
    &:not(:last-of-type) {
        border-bottom: 1px solid #e1e1e1;
    }
    &:first-child {
        padding-top: 0;
    }
}
.notification-wrap {
    .notification-item {
        .avatar {
            &::after {
                display: none;
            }
        }
    }
}